PORT = 3000
STRIPE_SECRET_KEY = sk_test_51J3
STRIPE_WEBHOOK_SECRET = whsec_LjAuOyYoa8SmlhKmQuIR61RlWfkiUyW7
SUCCESS_URL = http://localhost:3010/api/payments/success
CANCEL_URL = http://localhost:3010/api/payments/cancelled